/* Contenedor principal */
.container {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }

  .containerhistorial {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
    

  /* Tarjeta */
  .card {
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos */
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Progreso del proyecto */
  .progress {
    background-color: #e9ecef;
    border-radius: 10px;
    height: 20px;
  }
  
  .progress-bar {
    background-color: #600000; /* Rojo oscuro */
    font-size: 0.9rem;
    line-height: 20px;
    border-radius: 10px;
  }
  
  /* Detalles del proyecto */
  .card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
    padding: 3px;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .card-text i {
    margin-right: 10px;
    color: black;
  }
  
  /* Botones */
  .btn-verde {
    margin-top: 20px;
    background-color: #78c478; /* Verde claro */
    border: none;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: lowercase;
  }
  
  .btn-actualizar{
    background-color: transparent; /* Rojo oscuro */
    border-color:black;
    font-size: 0.9rem;
    border-radius: 8px;
  }

  .btn-detalles{
    background-color: #600000; /* Rojo oscuro */
    border: none;
    font-size: 0.9rem;
    border-radius: 8px;
    color: #e9ecef;
  }
  
  .btn-verde:hover{
    background-color:olivedrab;
  }
  
  .btn-actualizar:hover{
    background-color: darkgrey;
  }

  .btn-detalles:hover{
    background-color:firebrick;
  }


h3{
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.table {
    margin: 0
    ; /* Ajusta márgenes internos */
  }
  
  .table th {
    font-weight: bold;
    color: #555; /* Color de encabezado */
    border-bottom: 2px solid #e9ecef; /* Línea inferior */
    text-align: left;
    padding-left: 20px;

  }
  
  .table td {
    font-size: 1rem;
    color: #444; /* Color de celdas */
    text-align: left;
    padding-left: 20px;
    border-bottom: 1px solid #e9ecef; /* Línea inferior */
  }
  
  .text-muted {
    font-size: 1rem;
    margin-top: 25px;
    font-weight: lighter;
    color: #888; /* Texto gris claro */
  }
  
  /* Centrado en dispositivos móviles */
  @media (max-width: 576px) {
    .card-title {
      font-size: 1rem;
    }
  
    .table td, .table th {
      font-size: 0.9rem;
    }
  
    .text-muted {
      font-size: 0.8rem;
    }
  }
