.titulo-proyecto {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}

.descripcion {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.detalles-proyecto p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.btn-enviar {
    background-color: #800000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    background-color: white;
    color: #800000;
    border: 2px solid #800000;
}

.btn-regresar {
    background-color: transparent;
    color: #800000;
    border: 2px solid #800000;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-regresar:hover {
    background-color: #800000;
    color: white;
}
